@import "tailwindcss";

@theme {
  --color-primary: #94d82d;
  --color-primary-dark: #74b816;
}

*::selection {
  @apply bg-primary text-black;
}

.bg-grid {
  background-image:
    linear-gradient(rgba(31, 31, 31, 0.2) 1px, transparent 1px),
    linear-gradient(90deg, rgba(31, 31, 31, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;

  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.glowing-border {
  position: relative;
  overflow: visible;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.glowing-border::after,
.glowing-border::before {
  --angle: 0deg;
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 8px;

  background-image: conic-gradient(from var(--angle), transparent 50%, #94d82d);

  /* height: 100%;
  width: 100%;

  top: 50%;
  left: 50%;

  translate: -50% -50% !important; */
  z-index: -1;
  /* padding: 27px 113px; */
  opacity: 0;

  transition: opacity 0.15s ease-out;
}

.glowing-border::before {
  filter: blur(20px);
  /* opacity: 0.75;
  z-index: -1; */
}

.glowing-border:hover::after,
.glowing-border:hover::before {
  opacity: 1;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.chevron-down {
  animation: 3s scroll-down infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(20px);
  }
}

@layer utilities {
  *::-webkit-scrollbar {
    @apply w-2;
  }

  *::-webkit-scrollbar-track {
    @apply rounded-full bg-black;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-900;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-950;
  }

  .toast {
    @apply bg-neutral-950! text-white!;
  }
}

:focus-visible {
  @apply focus:outline-none focus:ring-2 focus:rounded-md focus:ring-offset-3 focus:ring-offset-black focus:ring-primary;
}
